body {
    background-color:#ffffff;
}
.reg-welcome{
    background-position:inherit;
    box-shadow:#808080 1px 2px 1px 2px;
    width:90%;
    margin:auto;
    height:auto;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:15px;
    font-weight:bold;
    padding:10px;
    color:#4b72e0;
}
.align-welcome-page{
    margin:4px auto;
    text-align:center;
}
.reg_icon{
    background-position:inherit;
    width:20%;
    height:auto;
    padding:10px;
    color:#4b72e0;
}
.icons{
    color:#0094ff;
    margin:5px auto;
    cursor:-moz-grabbing;
}